version: '3.8'

services:
  db:
    image: postgres
    container_name: container_postgres_todo
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: senha
      POSTGRES_DB: db_todo
    ports:
      - "5430:5432"